.playfair {
  font-family: 'Playfair', serif !important;
  font-style: italic;
}
.gridlover-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 1.375rem 1.375rem;
}
.gridlover-grid body {
  box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .3);
}

/*Page Structure*/
#main {
  width: 100%;
}
.text-center {
  text-align: center;
}
.spacing {
  height: 3.875rem;
}
/*#main-content {
  padding-left: 50px;
}*/
.letter-spacing-1 {
  letter-spacing: .1rem;
}
.letter-spacing-2 {
  letter-spacing: .2rem;
}
.letter-spacing-3 {
  letter-spacing: .3rem;
}
.hero-container {
  height: 100vh;
  min-height: 400px;
}
#hero {
  height: 90vh;
  width: 100vw;
}
/*grid*/
.grid--xray .grid__img {
	width: 300px;
	height: 300px;
}
.grid__img img {
	max-width: 100%;
	display: block;
}
.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tilt__back {
	position: relative;
}
.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}

h1.hero-gray {
  position: absolute;
  color: rgba(0, 0, 0, 0.04);
  margin: -58px 0 0 -24px;
  white-space: nowrap;
  font-size: 11rem;
  line-height: 12rem;
  overflow: hidden;;
}
.hero-background {
  position: absolute;
  z-index:-5;
  right: 0;
  width: 75%;
  /*mix-blend-mode: difference;*/
}
.hero-container h1.culture {
  margin-top: 100px;
  font-size: 9rem;
  line-height:12rem;
  z-index:1;
  color: #444;
}
.hero-clip {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  background-image: url("../images/1.jpg");
  background-size: 150% 150%;
  /*mix-blend-mode: difference;*/
}
/*.hero-container h1.culture {
  font-size: 210px;
  line-height:220px;
  float: left;
  left:0;
  top: 20vh;
  top: 0;
  position: absolute;
  z-index:1;
  color: #444;
}*/
.hero-container img {
  position: absolute;
  width: 60%;
  min-width: 400px;
  top: 35vh;
  right: 5vw;
  z-index: 2;
}
.hero-container h1.hacks {
  font-size: 210px;
  position: absolute;
  float: right;
  right:0;
  top:45vh;
  z-index:3
}
.sep {
  width: 200px;
}
.sep-image {
  width: 100%;
  height: 30vh;
  min-height: 200px;
}
.title-font-weight {
  font-weight: 100;
}
h3.circle-title:before {
		content: "";
		position: absolute;
		z-index: -1;
		background-color: #FCDB43;
		width: 2.75rem;
		height: 2.75rem;
		border-radius: 50%;
}
.sidebar-image {

}
.sidebar-left {
  float: left;
  left: 50;
  width: 45%;
  position: absolute;
}
.vertical-text {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 100%;
  white-space: nowrap;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: right top;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: right top;
  -ms-transform: rotate(270deg);
  -ms-transform-origin: right top;
  -o-transform: rotate(270deg);
  -o-transform-origin: right top;
  transform: rotate(270deg);
  transform-origin: right top;
}
.vertical-text span {
  color: #fff;
  mix-blend-mode: difference;
}
.bg-test {
  background-color: red;
}
.img-responsive {
  max-width: 100%;
}

/*Colors*/
h4 {
  color: #6a6a6a;
}
.color1--bg {
  background-color: #FCDB43;
}
.color2--bg {
  background-color: #0000C8;
}
.color3--bg {
  background-color: #A515FD;
}
.color4--bg {
  background-color: #D90218;
}
.color5--bg {
  background-color: #96D91D;
}
.black--bg {
  background-color: #4A4A4A;
}

/*Image Effects*/
.image-effect-1 {
  margin: 20px;
  height: 50vh;
  min-height: 300px;
  position: relative;
  border: .5em solid white;
}
.image-1 {
  background: url(../images/1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-2 {
  background: url(../images/2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-3 {
  background: url(../images/3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-4 {
  background: url(../images/4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-6 {
  background: url(../images/6.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-effect-1:before, .image-effect-1:after {
  position: absolute;
  content: '';
  border: solid #d8d8d8;
  z-index: -1;
}
.image-effect-1:before {
  top: -2em; bottom: -2em;
  left: 0; right: 0;
  border-width: 0 1px;
}
.image-effect-1:after {
  left: -2em; right: -2em;
  top: 0; bottom: 0;
  border-width: 1px 0;
}
.image-effect-2 {
    background-color: #444;
}

.image-effect-2:after {
    background-color: #333;
    mix-blend-mode: lighten;
}

.image-effect-2 img {
    -webkit-filter: grayscale(100%) contrast(190%) brightness(110%);
            filter: grayscale(100%) contrast(190%) brightness(110%);
    opacity: 0.65;
}
/*Button*/
.button-fill {
  position: relative;
  border: 1px solid #7a7a7a;
  //display:block;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.button-fill:hover {
  color: white;
  border: 1px solid #A515FD;
}

.button-fill:before {
  content: "";
  position: absolute;
  background: #A515FD;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  -webkit-transition: right 0.25s ease;
}

.button-fill:hover:before {
  right: 0;
}
