.playfair {
  font-family: 'Playfair Display', serif !important;
  font-style: italic;
}
.gridlover-grid {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 1.375rem 1.375rem;
}
.gridlover-grid body {
  box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .3);
}

/*Page Structure*/
#main {
  width: 100%;
}
.navbar {
  height: 20px;
  position: fixed;
  width: 100%;
  z-index:300;
}
.navbar img {
  mix-blend-mode: difference;
}
.hero-background-image, .hero-background-image-2 {
  z-index: -3000;
}
/*.vertical-bar {
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index:-5;
}*/
.vl-1 {
  top: 0;
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f;
  left: 20%;
  z-index: -1000;
}

.vl-2 {
  top: 0;
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f5f5f5;
  left: 35%;
  z-index: -1000;
}
.vl-3 {
  top: 0;
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f5f5f5;
  left: 50%;
  z-index: -1000;
}
.vl-4 {
  top: 0;
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f5f5f5;
  left: 65%;
  z-index: -1000;
}
.vl-5 {
  top: 0;
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f5f5f5;
  left: 80%;
  z-index: -1000;
}
.vl-5 {
  top: 0;
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #e1c334;
  left: 80%;
  z-index: -1000;
}
.vertical-center-line {
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f9f9f9;
  left: 50%;
}
.vertical-right-line {
  position: fixed;
  width:1px;
  height: 100%;
  background-color: #f9f9f9;
  left: 75%;
}
.text-center {
  text-align: center;
}
.spacing {
  height: 3.875rem;
}
/*#main-content {
  padding-left: 50px;
}*/
#logo {
  max-width:80px;
}
@media (max-width: 800px) {
  #logo {
    display: none;
  }
}

.letter-spacing-1 {
  letter-spacing: .1rem;
}
.letter-spacing-2 {
  letter-spacing: .2rem;
}
.letter-spacing-3 {
  letter-spacing: .3rem;
}
.hero-container {
  height: 100vh;
  min-height: 600px;
}
#hero {
  height: 90vh;
  width: 100vw;
}
/*grid*/
.grid--xray .grid__img {
	width: 300px;
	height: 300px;
}
.grid__img img {
	max-width: 100%;
	display: block;
}
.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tilt__back {
	position: relative;
}
.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}

h1.hero-gray {
  position: absolute;
  color: rgba(0, 0, 0, 0.04);
  margin: -58px 0 0 -24px;
  white-space: nowrap;
  font-size: 11rem;
  line-height: 12rem;
  overflow: hidden;;
}
.hero-background {
  position: absolute;
  z-index:-5;
  right: 0;
  width: 75%;
  /*mix-blend-mode: difference;*/
}
.background-slash {
  z-index:-20;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  background: url(../images/background-slash.svg) no-repeat center center fixed;
}
.reverse-background-slash {
  z-index:-20;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  background: url(../images/reverse-background-slash.svg) no-repeat center center fixed;
}
.hero-container h1.culture {
  margin-top: 100px;
  font-size: 5rem;
  line-height: 6rem;
  z-index:1;
  color: #444;
}
.hero-clip {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  background-image: url("../images/7.png");
  background-size: 150% 150%;
  /*mix-blend-mode: difference;*/
}
.hero-clip-2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  background-image: url("../images/9.png");
  background-size: 150% 150%;
  /*mix-blend-mode: difference;*/
}
.hero-background-image {
  position: absolute;
  width: 35%;
  left:0;
  top:0;
}
.hero-background-image-2 {
  position: absolute;
  width: 20%;
  right:0;
  top:0;
}
/*.hero-container h1.culture {
  font-size: 210px;
  line-height:220px;
  float: left;
  left:0;
  top: 20vh;
  top: 0;
  position: absolute;
  z-index:1;
  color: #444;
}*/
.hero-container img {
  position: absolute;
  width: 60%;
  min-width: 400px;
  top: 35vh;
  right: 5vw;
  z-index: 2;
}
.hero-container h1.hacks {
  font-size: 210px;
  position: absolute;
  float: right;
  right:0;
  top:45vh;
  z-index:3
}
.sep {
  width: 200px;
}
hr.bold{
  border-top: 6px solid rgb(27,27,27) !important;
}
.sep-image {
  width: 100%;
  height: 30vh;
  min-height: 200px;
}
.title-font-weight {
  font-weight: 100;
}
h3.circle-title:before {
		content: "";
		position: absolute;
		z-index: -1;
		background-color: #FCDB43;
		width: 2.75rem;
		height: 2.75rem;
		border-radius: 50%;
}
.sidebar-image {

}
.sidebar-left {
  float: left;
  left: 50;
  width: 45%;
  position: absolute;
}
.vertical-text {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 100%;
  white-space: nowrap;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: right top;
  -moz-transform: rotate(270deg);
  -moz-transform-origin: right top;
  -ms-transform: rotate(270deg);
  -ms-transform-origin: right top;
  -o-transform: rotate(270deg);
  -o-transform-origin: right top;
  transform: rotate(270deg);
  transform-origin: right top;
}
.vertical-text span {
  color: #fff;
  mix-blend-mode: difference;
}
.vertical-line-1 {
  overflow: auto;
  position: absolute;
  width: 1px;
  height: 100%;
  left: 20vw;
  margin-top: -20vh;
  background-color: #f5f5f5;
}
.horizontal-line-1 {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 90%;
  margin-top:-10vh;
  right: 0;
  background-color: #e1c334;
}
.bg-test {
  background-color: red;
}
.img-responsive {
  max-width: 100%;
}
.full-block {
  position: absolute;
  height: 100%;
  width:100%;

}
.block-image {
  z-index:-2;
  position: absolute;
  height: 70vh;
  width: 80%;
  left:0;
  top:0;
}
.white-card {
  background-color: white;
}
/*Colors*/
h4 {
  color: #6a6a6a;
}
.color1--bg {
  background-color: #e1c334;
}
.color-1-text {
  color: #e1c334;
}
/*.color1--bg-faded {
  background-color: rgb(249, 242, 210);
}*/
.color1--bg-faded {
  background-color: rgba(27, 27, 27, .05);
}
.color2--bg {
  background-color: #0000C8;
  color: white;
}
.color2--bg .button-fill {
  border: 1px solid #fff;
  color: #fff;
}
.color2--bg .button-fill:hover {
  border: 1px solid #fff;
  color: #FCDB43;
}
.color2--bg .button-fill:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  -webkit-transition: right 0.25s ease;
}

.button-fill:hover:before {
  right: 0;
}
.color3--bg {
  background-color: #A515FD;
}
.color4--bg {
  background-color: #D90218;
}
.color5--bg {
  background-color: #96D91D;
}
.black--bg {
  background-color: rgb(27,27,27);
}
.gray--bg {
  background-color: #f5f5f5;
}

/*Text Effects*/
.page-template-template-home .landing h1 span:after {
    background: #47eac8;
    bottom: 0;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/*Image Effects*/
.image-effect-1 {
  margin: 20px;
  height: 50vh;
  min-height: 300px;
  position: relative;
}
.tall-image {
  height: 70vh;
  min-height: 550px;
  width: 40vw;
  position: absolute;
  top: -20vh;
  right: 0vw;
  overflow: hidden;
}
.tall-image-child {
  height: 100%;
  width: 100%;
}
.tall-image-2 {
  height: 70vh;
  min-height: 550px;
  width: 40vw;
  position: absolute;
  top: -20vh;
  left: 0vw;
  overflow: hidden;
}
@media (max-width: 600px) {
  .tall-image, .tall-image-2 {
    width: 100%;
    height: 30vh;
    min-height: 250px;
    top:-45vh;
  }
}
.hover-opacity {
  -webkit-filter: grayscale(100%) contrast(190%) brightness(110%);
    filter: grayscale(100%) contrast(190%) brightness(110%);
  
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.hover-opacity:hover {
  -webkit-filter: grayscale(0%) contrast(190%) brightness(110%);
    filter: grayscale(0%) contrast(100%) brightness(110%);
  opacity: 1;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand'); /* IE6 and 7 */ 

}
.image-box{
  width:300px;
  overflow:hidden;
}
.image {
  width:300px;
  height:200px;
  background: url("http://lorempixel.com/300/200");
  
} 

.image-1 {
  background: url(../images/1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-2 {
  background: url(../images/2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-3 {
  background: url(../images/3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-4 {
  background: url(../images/4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-6 {
  background: url(../images/6.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-7 {
  background: url(../images/will.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-8 {
  background: url(../images/nec.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image-effect-1:before, .image-effect-1:after {
  position: absolute;
  content: '';
  border: solid #e1e1e1;
  z-index: -1;
}
.image-effect-1:before {
  top: -2em; bottom: -2em;
  left: 0; right: 0;
  border-width: 0 1px;
}
.image-effect-1:after {
  left: -2em; right: -2em;
  top: 0; bottom: 0;
  border-width: 1px 0;
}
.image-effect-2 {
    background-color: #444;
}

.image-effect-2:after {
    background-color: #333;
    mix-blend-mode: lighten;
}

.image-effect-2 img {
    -webkit-filter: grayscale(100%) contrast(190%) brightness(110%);
            filter: grayscale(100%) contrast(190%) brightness(110%);
    opacity: 0.65;
}
/*Button*/
.button-fill {
  position: relative;
  border: 1px solid rgb(27,27,27);
  color: rgb(27,27,27);
  //display:block;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  width: 260px;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.button-fill:hover {
  color: white;
  border: 1px solid #e1c334;
}

.button-fill:before {
  content: "";
  position: absolute;
  background: #e1c334;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  -webkit-transition: right 0.25s ease;
}

.button-fill:hover:before {
  right: 0;
}
.floatingleft{
    float: left;
    -webkit-animation-name: Floatingxleft;
    -webkit-animation-duration: 13s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingleft;
    -moz-animation-duration: 13s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingxleft{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(-19px, 0px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floatingleft{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(-19px, 0px);}
    to {-moz-transform: translate(0, -0px);}
}
.floatingup{
    float: left;
    -webkit-animation-name: Floatingxup;
    -webkit-animation-duration: 11s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floatingright;
    -moz-animation-duration: 11s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingxup{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0px, -11px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floatingup{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0px, -11px);}
    to {-moz-transform: translate(0, -0px);}
}

/*Preloader*/
/***********************************************************
*** CUSTOMIZE THE LOADING SCREEN BACKGROUND + ICON COLORS
************************************************************/
/* loading screen background color */
#bonfire-pageloader {
    background-color:rgb(27,27,27);
}
/* loading icon color */
#bonfire-pageloader svg {
    fill:#fff;
}

.background-headline {
  position: absolute;
  font-size: 15rem;
  line-height: 15rem;
  color: #fafafa;
}

/***********************************************************
*** THE NITTY-GRITTY
************************************************************/
/* the pageloader */
#bonfire-pageloader {
    position:fixed;
    z-index:99999999999999;
    height:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
#bonfire-pageloader h1 {
  color: white;
}
.bonfire-pageloader-fade {
    opacity:0 !important;

    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
}
.bonfire-pageloader-hide {
    display:none;
}

/* the loading icon */
.bonfire-pageloader-icon {
    text-align: center;
    width: 100%;
    padding-top: 20%;
    opacity:1;
}
/*.bonfire-pageloader-icon-hide {
    opacity:0 !important;

    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}*/

/* lets give the page body that subtle slide-in animation */
html {
    height:100%;

    -webkit-backface-visibility: hidden;

    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
}
.bonfire-html-onload {

    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    -ms-transition: all 0s ease;
    transition: all 0s ease;
}